<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Screen and Widgets</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Home Screen</h1>
        <ul>
            <li><a href="/">Home Screen and Widgets</a></li>
            <li><a href="/upsclientinfo">UPS Client Info</a></li>
            <li><a href="/techmahindrainfo">Tech Mahindra Info</a></li>
            <li><a href="/techmahindraemployeedetails">Tech Mahindra Employee Details</a></li>
            <li><a href="/issues">Issues</a></li>
        </ul> 
    </body>
</html>