<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>UPS Client Info</title>
        <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
        <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-alpine.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <h1>UPS Client Info</h1>

        <ul>
            <li><a href="/">Home Screen and Widgets</a></li>
            <li><a href="/upsclientinfo">UPS Client Info</a></li>
            <li><a href="/techmahindrainfo">Tech Mahindra Info</a></li>
            <li><a href="/techmahindraemployeedetails">Tech Mahindra Employee Details</a></li>
            <li><a href="/issues">Issues</a></li>
        </ul> 

        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

        <div id="myGrid" class="ag-theme-alpine" style="height: 400px;"></div>

        <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.js"></script>
        <script src="static/script.js"></script>
        <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    </body>
</html>